#site-header {
	@include heading1;
	@include resetList;
	margin: rem(48) 0;
	.container {
		display: flex;
		justify-content: space-between;

		.custom-logo-link {
			display: contents;
		}
		.custom-menu-link {
			display: contents;
		}
	}
	.unfold-menu {
		display: none;
	}
	.unfold-menu.active {
		display: block;
	  }
}
