.partners-page {
    padding: 50px 0;

    .partners-hero h1 {
        margin-bottom: rem(129);
        @include heading1;

    }

    .partners-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(119);
        flex-wrap: wrap;
    }

    .partners-logos img {
        max-width: 150px;
        height: auto;
    }

    
    
}
