


.post-meta {
	@include flexbox(row, nowrap, flex-start, center, #{rem(50)});
	margin: rem(45) 0;
}
.post-meta span, .post-meta a {
	font-size: rem(30);
	color: var(--main-color);
	font-family: Muli;
	line-height: rem(23);
	

}
.post-meta a{
	text-decoration: none
}

.post-author {
	@include flexbox(row, nowrap, flex-start, center, #{rem(12)});
	img {
		display: block;
		height: rem(32);
		width: rem(32);
		border-radius: 9999px;
	}
}

.post-thumbnail {
	img {
		width: 100%;
		height: rem(500);
		object-fit: cover;
	}
}

#custom-comment-form .formComment{
	@include flexbox(column, nowrap, flex-start, flex-start, #{rem(20)});
	input[type="text"]{
		border: none;
		border-bottom: 1px solid #ccc;
		width: 100%;

	}
	input[type="text"]::placeholder{
		font-family: Muli;
		font-size: 20px;
		font-weight: 400;
		line-height: 38px;
		text-align: left;
	}
	textarea{
		border: none;
		border-bottom: 1px solid #ccc;
		width: 100%;
		padding-bottom: rem(39);
		min-width: rem(300);
		overflow: hidden;
	}
	textarea::placeholder{
		font-family: Muli;
		font-size: 20px;
		font-weight: 400;
		line-height: 38px;
		
	}
	input[type="submit"]{
		background-color: var(--white);
		color: var(--main-color);
		border: none;
		font-size: rem(20);
		font-weight: rem(800);
		font-family: 'Muli';
		line-height: rem(25);
	}
	input[type="text"]:focus, textarea:focus {
        outline: none; 
    }
	button[type="button"]{
		background-color: var(--white);
		color: var(--main-color);
		border: none;
		font-size: rem(20);
		font-weight: rem(800);
		font-family: 'Muli';
		line-height: rem(25);
	}
}
.comment-list{
	padding: 0;
	@include flexbox(column, nowrap, flex-start, flex-start, #{rem(20)});
	li{
		@include flexbox(column, nowrap, flex-start, flex-start, #{rem(20)});
		text-decoration: none;
		width: 100%;
		
	}
	.children {
		@include flexbox(column, nowrap, flex-start, flex-start, #{rem(20)});
		width: 100%;
	}
}
.comment-text{
	font-family: 'Muli';
	font-size: rem(20);
	line-height: rem(38);
	color: var(--text-color-comment);
}
.single-post-content .comment-content{
	padding: rem(32);
	background-color: var(--gret-comment);
	width: 100%;
}
.comment-author{
	font-family: 'Muli';
	font-size: rem(27);
	line-height: rem(31);
	color: var(--main-color);
	padding-bottom: rem(25);
}
.comment-reply{
	button[type="submit"]{
		padding-top: rem(29);
		background-color: var(--gret-comment);
		color: var(--main-color);
		border: none;
		font-size: rem(20);
		font-weight: rem(800);
		font-family: 'Muli';
		line-height: rem(25);
	}
}
.post-comments{
	padding: rem(145) 0;
}
.post-tags{
	padding-top: rem(50);
}

.formComment {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    input[type="text"],
    textarea {
        width: 100%;
          padding: 10px;
          font-size: 1rem;
          border: none;
          border-radius: 4px;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.055), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
          &::placeholder {
            color: #ADADAD;
          }
    }

    input[type="submit"] {
        font-size: 1rem;
        color: var(--main-color);
        font-weight: bold;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}

textarea{
	resize: none;
	height: 178px;
}
