.service-section {
    display: flex;
    flex-wrap: wrap;
    gap: rem(0);
    
}

.service-item {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.service-item img {
    max-width: 100%;
    height: auto;
}

.service-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}
