:root {
	--main-color: #050A3A;
	--white: #fff;
	--black: #000;
	--grey: #555;

	--bg-color: var(--white);
	--text-color: var(--black);
}
html,body{
	height: 100%;
    margin: 0;
    padding: 0;
}
body {
	font-family: 'muli', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	&.dark {
		--bg-color: var(--black);
		--text-color: var(--white);
	}
	
	display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}
img {
	max-width: 100%;
	height: auto;
}

svg {
	path {
		fill: currentColor;
	}
	&:hover {
		path {
			fill: var(--main-color);
		}
	}
}

